.webTop
{
    width: 100%;
    height: 300px;
    border: 1px solid #ff0000;
}

.webBody
{
    width: 100%;
    height: 300px;
    border: 1px solid #ff0000;
}

.webBottom
{
    width: 100%;
    height: 300px;
    border: 1px solid #ff0000;
}