h2{
    color: #003583;
}

p{
    font-size: 14px;
    color: #000033;
}

.hyperlink{
    color: #f00;
}

.blue{
    color: #1F87CC;
}

.yellow{
    color: #FAA53B;
}

.green{
    color: #0D7114;
}

.img1{
    width: 100px;
    height: 160px
}

.img2{
    width: 200px;
    height: 130px;
}